body {
  font-family: Impact;
  text-align: center;
  font-weight: bold;
}

li {
  float: left;
  width: 24px;
  height: 24px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

figure {
  width: 500px;
  height: 500px;
  display: inline-block;
  border: 5px solid black;
}

figure.scoreboard {
  position: fixed;
  height: 500px;
  width: 280px;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li.snake {
  z-index: 1;
  background-color: green;
  /*background-image: url("../images/shrimp.jpg")*/
}

li.apple {
  background-color: red;
}

ul:after {
  content: "";
  clear: both;
  display: block;
}

.button {
  height: 50px;
  width: 76px;
  font-size: 16px;
}

.paused {
  -webkit-filter: grayscale(100%);
  background-color: rgba(0,0,0,0.7);
}

.paused li.snake {
  -webkit-filter: grayscale(100%);
  background-color: rgba(0,0,0,0.7);
}

/*Scoreboard*/

.points-container, .hiscore-container {
  padding: 20px;

}
