body {
	padding-right: 300px;
  font-family: Impact;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  background-color: #A9F5F2;
  background-image: url("../images/ocean.jpg")
}

.title {
	padding-left: 300px;
}

li {
  float: left;
  width: 24px;
  height: 24px;
}

figure {
  margin:15px;
}

figure.snake-game {
	height: 480px;
	width: 480px;
  display: inline-block;
  border: 5px solid black;
  background-image: url("../images/water.gif");
}

figure.scoreboard {
  display: inline-block;
  border: 5px solid black;
  position: fixed;
  height: 480px;
  width: 280px;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li.snake {
  z-index: 1;
  background-image: url("../images/eel_body.png");
}

li.head {
  background-image: url("../images/eel_head.png");
}

li.apple {
  background-image: url("../images/fish.png");
}

ul:after {
  content: "";
  clear: both;
  display: block;
}

.button {
  height: 50px;
  width: 76px;
  font-size: 16px;
}

.paused {
  -webkit-filter: grayscale(100%);
  background-color: rgba(0,0,0,0.7);
}

/*Scoreboard*/

.points-container, .hiscore-container {
  padding: 15px;
}
